button.link {
  appearance: none;
  display: inline;
  background: transparent;
  color: white;
  text-decoration: underline;
}

.container {
  padding: 2rem 10vw;
}

.main {
  min-height: 100vh;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: url('/img/sunset.jpg') center top / cover no-repeat;
  background-color: #110d1325;
  background-blend-mode: multiply;
  min-height: 100vh;
}

.hero h2,
.hero p {
  text-shadow: 0 0 .7rem #e950fa;
  text-align: center;
}

.hero h2 {
  margin: 0;
}

.hero p {
  color: white;
  font-size: min(max(.9em, 1.25vw), 1.25em);
  margin: 0 0 3rem;
}

.branding {
  opacity: .3;
  margin: 2rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h2 {
  margin-top: 10vw;
  font-size: min(max(2em, 5vw), 5em);
}

.appicon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin: 0 0 2rem;
}

.appicon img {
  object-fit: contain;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.product {
  display: flex;
  justify-content: end;
  align-content: start;
}

.product:nth-of-type(1) {
  justify-content: start;
}

.product > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right top;
}

.product:nth-of-type(1) > img {
  object-position: left top;
}

.info {
  color: white;
  margin: 2.5rem 0 0;
  padding: 2rem;
  font-size: min(max(.9em, 1.2vw), 1.2em);
  line-height: min(max(1.3em, 2.6vw), 2.6em);
  max-width: 75%;
}

.info:nth-of-type(3) {
  padding-left: 5rem;
}

.detail {
  color: white;
  max-width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  font-size: min(max(.9em, 1.2vw), 1.2em);
  line-height: min(max(1.3em, 2.6vw), 2.6em);
}

.creators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/img/creative.jpg') center top / cover no-repeat;
  background-color: #110d1325;
  background-blend-mode: multiply;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.creators h4 {
  font: normal 800 min(max(3em, 7vw), 7em)/1em 'WC Mano Negra', serif;
  text-shadow: 0 .3rem 0 black;
  letter-spacing: -2px;
  margin: 0;
}

.creators p {
  font: normal 400 min(max(1em, 2.4vw), 2em)/.75em 'Viga', sans-serif;
  text-shadow: 0 0 2rem black;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/img/sunset2.jpg') center bottom / cover no-repeat;
  background-color: #110d1325;
  background-blend-mode: multiply;
  min-height: 100vh;
  margin: 2rem;
  border-radius: 2rem;
}

.banner,
.banner-show {
  position: fixed;
  top: -5rem;
  left: .5rem;
  right: .5rem;
  height: 3.5rem;
  width: calc(100% - 1rem);
  line-height: 3.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #0070f3;
  color: white;
  z-index: 1000;
  opacity: 0;
  transition: top .5s ease, opacity .5s ease;
}

.banner-show {
  top: .25rem;
  opacity: 1;
}

@media (max-width: 974px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    text-align: center;
  }

  .info:nth-of-type(3) {
    padding-left: 2rem;
  }

  .creators p {
    line-height: 2em;
    margin: 0;
  }

  .detail {
    max-width: 75%;
  }
}

@media (prefers-color-scheme: dark) {

}
